{% extends "base.html" %}
{% block content %}
    <div class="container">
    <div class="wrapper">
        <div class="nav">
            <div class="nav-item"><a href="/registration" class="am">REGISTRATION</a></div>
            <div class="nav-item"><a href="/login" class="am">LOGIN</a></div>
            <div class="nav-item"><a href="/my_profile" class="am">PROFILE</a></div>
            <div class="nav-item"><a href="/browse" class="am">BROWSE</a></div>
            <div class="nav-item"><a href="/my_profile_worker" class="am">worker</a></div>
            <div class="nav-item"><a href="/">admin restapi</a></div>
            
        </div>
        <div class="mom">
            <div class="mininav">
                <div class="nav-item2"><a href="/my_profile" class="am1">MY PROFILE</a></div>
                <div class="nav-item2"><a href="/my_projects" class="am1">PROJECTS</a></div>
                <div class="nav-item2"><a href="/add_project" class="am1" >ADD/EDIT NEW PROJECT</a></div>
            </div>
            <div class="form">
                <form action="" method="POST"> 
                    <h3>ADD PROJECT</h3>
                    <input type="text" name="name" placeholder="name">
                    <input type="text" name="description" placeholder="description">
                    <select name="skill_id">
                        {% for skill in skills %}
                        <option value={{skill.id}}>{{skill.skill_name}}</option>
                        {% endfor %}
                    </select>

                    <select name="worker_id">
                        {% for worker in workers %}
                        <option value={{worker.id}}>{{worker.name}}</option>
                        {% endfor %}
                    </select>
                <input type="submit">
                </form>
            </div>
         </div>
        </div>
    </div>
{% endblock content %}