{% extends "base.html" %}
{% block content %}
    <div class="container">
    <div class="wrapper">
        <div class="nav">
            <div class="nav-item"><a href="/registration">REGISTRATION</a></div>
            <div class="nav-item"><a href="/login">LOGIN</a></div>
            <div class="nav-item"><a href="/profile">PROFILE</a></div>
            <div class="nav-item"><a href="/">login</a></div>
            <div class="nav-item"><a href="/">admin restapi</a></div>
            
        </div>
        <div class="mom">
            <div class="mininav">
                <div class="nav-item"><a href="/registration">MY PROFILE</a></div>
                <div class="nav-item"><a href="/login">PROJECTS</a></div>
                <div class="nav-item"><a href="/profile">ADD/EDIT NEW PROJECT</a></div>
            </div>
            <div class="form">
                <h1>look here for the workers</h1>
                <form action="" method="POST"> 
                    <select name="skill">
                        {% for skill in skills %}
                        <option value={{skill.id}}>{{skill.skill_name}}</option>
                        {% endfor %}
                    </select>
                    <select name="city">
                        {% for worker in worker %}
                        <option value={{worker.city}}>{{worker.city}}</option>
                        {% endfor %}
                    </select>
                <input type="submit">
                </form>
                    {% for worker in workers %}
                    <li>{{worker}}</li>
                    {% endfor %}

            </div>
         </div>
        </div>
    </div>
{% endblock content %}