{% extends "base.html" %}
{% block content %}
    <div class="container">
    <div class="wrapper">
        <div class="nav">
            <div class="nav-item"><a href="/">login 2 users</a></div>
            <div class="nav-item"><a href="/">registration</a></div>
            <div class="nav-item"><a href="/">projects</a></div>
            <div class="nav-item"><a href="/login">login</a></div>
            <div class="nav-item"><a href="/">admin restapi</a></div>
            
        </div>
        <div class="mom">
            <div class="form">
                <form action="" method="POST"> 
                    <h3>this is profile, create new project</h3>
                    <input type="text" name="name" placeholder="name">
                    <input type="text" name="description" placeholder="description">
                    <select name="skill_id">
                        {% for skill in skills %}
                        <option value={{skill.skill_id}}>{{skill.skill_name}}</option>
                        {% endfor %}
                    </select>
                <input type="submit">
                </form>
            </div>
         </div>
        </div>
    </div>
{% endblock content %}