{% extends "base.html" %}
{% block content %}
    <div class="container">
    <div class="wrapper">
        <div class="nav">
            <div class="nav-item"><a href="/registration">REGISTRATION</a></div>
            <div class="nav-item"><a href="/login">LOGIN</a></div>
            <div class="nav-item"><a href="/profile">PROFILE</a></div>
            <div class="nav-item"><a href="/">login</a></div>
            <div class="nav-item"><a href="/">admin restapi</a></div>
            
        </div>
        <div class="mom">
            <div class="form">
                <form action="" method="post">
                <input type="text" name="name" placeholder="name"> <br>
                <input type="text" name="email" placeholder="email"> <br>
                <input type="text" name="phone" placeholder="phone"> <br>
                <input type="text" name="city" placeholder="city"> <br>
                <input type="text" name="password" placeholder="password"> <br>
                <select name="type">
                    <option value="user">User</option>
                    <option value="worker">Worker</option>
                <input type="submit">
                </select>
                </form>
            </div>
         </div>
        </div>
    </div>

{% endblock content %}