{% extends "base.html" %}
{% block content %}
    <div class="container">
    <div class="wrapper">
        <div class="nav">
            <div class="nav-item"><a href="/registration" class="am">REGISTRATION</a></div>
            <div class="nav-item"><a href="/login" class="am">LOGIN</a></div>
            <div class="nav-item"><a href="/my_profile" class="am">PROFILE</a></div>
            <div class="nav-item"><a href="/browse" class="am">BROWSE</a></div>
            <div class="nav-item"><a href="/my_profile_worker" class="am">WORKER</a></div>
            <div class="nav-item"><a href="/readme " class="am">README</a></div>
        </div>

            <div class="mom">
                <div class="mininav">
                    <div class="nav-item2"><a href="/my_profile" class="am1">MY PROFILE</a></div>
                    <div class="nav-item2"><a href="/my_quotas" class="am1">MY QUOTAS</a></div>
                    <div class="nav-item2"><a href="/my_profile_worker" class="am1">BROWSE PROJECTS</a></div>
                </div>
                <div class="form">
                    THIS IS FOR the testing only. worker.html
                    pls navigate in mininav above
                    </div>

{% endblock content %}
            
        